<html>
	<head>
		<title>Martin Nguyen</title>
		
		<!-- Introduction -->
		<meta name="description" content="Portfolio of Martin Nguyen">
		<meta name="author" content="Martin Nguyen">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/theme.css" />
		<link rel="stylesheet" type="text/css" href="css/grid.css" />
	
	</head>
	
	<header>
	<div class="center">

			<div class="container">
				

				<div class="bb">
					<img src="">
					<p><strong>DUY MARTIN NGUYEN</strong></p>			
					<p>A gamer and programmer, <br> essentially the biggest nerd <br> you'll ever meet </p>
					<a href="#" class="btn btn-primary">Navigate To Work</a>		
				</div>

		</div>
	</div>
	
	</header>
		
		
	<body>
	
		<div id="grid-gallery" class="grid-gallery">
				<section class="grid-wrap">
					<ul class="grid">
						<li class="grid-sizer"></li><!-- for Masonry column width -->
						<li>
							<figure>
								<img src="http://placehold.it/500x300" alt="img01"/>
								<figcaption>
									<h3>Triton Gaming</h3>
									<p>Web Dev for UCSD's Gaming Club</p>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="http://placehold.it/500x300" alt="img02"/>
								<figcaption>
									<h3>SAPHIRE</h3>
									<p> </p>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="http://placehold.it/500x300" alt="img03"/>
								<figcaption>
									<h3>pricePad</h3>
									<p></p>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="http://placehold.it/500x300" alt="img04"/>
								<figcaption>
									<h3></h3>
									<p></p>
								</figcaption>
							</figure>
						</li>
						
				</section> <!-- Projects -->
				<section class="slideshow">
					<ul>
						<li>
							<figure>
								<div class="row">
									<div class="col-sm-12">
										<h1 class="pull-left no-margin">Triton Gaming Website</h1>
										<h3 class="pull-right no-margin">December 2015 - Present</h3>
									</div>
								</div>

								<div class="row info-strip bg-primary hidden-sm">
									<p>
										<span class="pull-left">Technologies Used:</span>
										<span class="pull-right">Website Link:</span>
									</p>
									<p class="footer-links">
										<span class="pr fa fa-html5"><span id="tech">HTML</span></span>
										<span class="pr fa fa-css3"><span id="tech">CSS</span></span>
										<span class="pr fa fa-code"><span id="tech">NODE</span></span>
										<span class="pr fa fa-coffee"><span id="tech">JS</span></span>
										<a href="tritongaming.herokuapp.com" target="_blank"><span class="pull-right">tritongaming.herokuapp.com</span></a>
									</p>
					</div>

							</figure>
						</li>
						<li>
							<figure>
								<figcaption>
									<h3>Vice velit chia</h3>
									<p>Chillwave Echo Park Etsy organic Cosby sweater seitan authentic pour-over. Occupy wolf selvage bespoke tattooed, cred sustainable Odd Future hashtag butcher.</p>
								</figcaption>
								<img src="http://placehold.it/500x300" alt="img02"/>
							</figure>
						</li>
						<li>
							<figure>
								<figcaption>
									<h3>Brunch semiotics</h3>
									<p>IPhone PBR polaroid before they sold out meh you probably haven't heard of them leggings tattooed tote bag, butcher paleo next level single-origin coffee photo booth.</p>
								</figcaption>
								<img src="http://placehold.it/500x300" alt="img03"/>
							</figure>
						</li>
						<li>
							<figure>
								<figcaption>
									<h3>Chillwave nihil occupy</h3>
									<p>Vice cliche locavore mumblecore vegan wayfarers asymmetrical letterpress hoodie mustache. Shabby chic lomo polaroid, scenester 8-bit Portland Pitchfork VHS tote bag.</p>
								</figcaption>
								<img src="http://placehold.it/500x300" alt="img04"/>
							</figure>
						</li>
						
					</ul>
					<nav>
						<span class="icon nav-prev"></span>
						<span class="icon nav-next"></span>
						<span class="icon nav-close"></span>
					</nav>
					<div class="info-keys icon">Navigate with arrow keys</div>
				</section><!-- Project Slideshow -->
			</div><!-- // grid-gallery -->
		</div>
		
		
		<!-- JS -->
		<script src="js/modernizr.custom.js"></script>
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/masonry.pkgd.min.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/cbpGridGallery.js"></script>
		<script>
			new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
		</script>
		
	</body>
		
