<html>
	<head>
		<title>Martin Nguyen</title>
		
		<!-- Introduction -->
		<meta name="description" content="Portfolio of Martin Nguyen">
		<meta name="author" content="Martin Nguyen">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/theme.css" />
		<link rel="stylesheet" type="text/css" href="css/grid.css" />
	
	</head>
	
	<header>
	<div class="center">
			<div class="container">
				<div class="cc">
					<img src="img/mypicture.png" width="100">
					<p><strong>DUY MARTIN NGUYEN</strong></p>			
					
					<a href="#" class="btn btn-primary">My Works</a>		
				</div>
		</div>
	</div>
	
	</header>
		
		
	<body>
	
		<div id="grid-gallery" class="grid-gallery">
				<section class="grid-wrap">
					<ul class="grid">
						<li class="grid-sizer"></li><!-- for Masonry column width -->
						<li>
							<figure>
								<img src="img/TGExLogo.png" alt="expo"/>
								<figcaption>
									<h3>TGExpo</h3>
									<p>Event Website</p>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/squrl.png" alt="cq" height="200px"/>
								<figcaption>
									<h3>CaptionQuest</h3>
									<p>Web App Game</p>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/GridPic/tgicon.png" alt="tg"/>
								<figcaption>
									<h3>Triton Gaming</h3>
									<p>Web Dev for UCSD's Gaming Club</p>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/saphire.png" alt="sap" width="500px" height="150px" />
								<figcaption>
									<h3>SAPHIRE</h3>
									<p>Google Glass & Smart Devices </p>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/pricepad.jpg" alt="pad" width="300px" height="150px" />
								<figcaption>
									<h3>pricePad</h3>
									<p>Easy House Price Lookup</p>
								</figcaption>
							</figure>
						</li>
						
						
				</section> <!-- Projects -->
				<section class="slideshow">
					<ul>
						<li>
							<figure>
								<div class="row">
									<div class="col-sm-12">
										<h1 class="pull-left no-margin">Triton Gaming Expo</h1>
										<h3 class="pull-right no-margin">May 2016</h3>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-12">
										<a href="http://tgexpo.tech" target="_blank"><img src="img/tgexpohead.png" alt="cq" width="800px" height="150px"/></a>
									</div>
								</div>
								<br>
								<br>
								<div class="row">
									<div class="col-sm-12">
										<p style="text-align: center"> Created for users to register to for TG Expo, an event which hosted over a thousand participants. Users could register for gaming events and look up scheduled appearances throughout the day. Due to how quick this website was created, it is only optimize for large screens </p>
									</div>
								</div>

								<div class="row info-strip bg-primary hidden-sm">
									<p>
										<span class="pull-left">Technologies Used:</span>
										<span class="pull-right">Website Link:</span>
									</p>
									<p class="footer-links">
										<span class="pr fa fa-html5"><span id="tech">HTML</span></span>
										<span class="pr fa fa-css3"><span id="tech">CSS</span></span>
										<span class="pr fa fa-gear"><span id="tech">NODE</span></span>
										<span class="pr fa fa-coffee"><span id="tech">JS</span></span>
										<a href="http://tgexpo.tech" target="_blank"><span class="pull-right"> tgexpo.tech </span></a>
									</p>
								</div>

							</figure>
						</li>
						<li>
							<figure>
								<div class="row">
									<div class="col-sm-12">
										<h1 class="pull-left no-margin">CaptionQuest</h1>
										<h3 class="pull-right no-margin">March 2016</h3>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-12">
										<a href="https://captionquest.herokuapp.com/" target="_blank"><img src="img/captionquesthead.png" alt="cq" width="800px" height="150px"/></a>
									</div>
								</div>
								<br>
								<br>
								<div class="row">
									<div class="col-sm-12">
										<p style="text-align: center"> A gaming app to showcase your creativity by matching pictures to captions. Integrated newly learned HCI concepts to create this app. This application was intended to be a mobile web app. </p>
									</div>
								</div>

								<div class="row info-strip bg-primary hidden-sm">
									<p>
										<span class="pull-left">Technologies Used:</span>
										<span class="pull-right">Website Link:</span>
									</p>
									<p class="footer-links">
										<span class="pr fa fa-html5"><span id="tech">HTML</span></span>
										<span class="pr fa fa-css3"><span id="tech">CSS</span></span>
										<span class="pr fa fa-gear"><span id="tech">NODE</span></span>
										<span class="pr fa fa-coffee"><span id="tech">JS</span></span>
										<span class="pr fa fa-database"><span id="tech">MongoDB</span></span>
										<a href="https://captionquest.herokuapp.com/" target="_blank"><span class="pull-right">captionquest.herokuapp.com</span></a>
									</p>
								</div>

							</figure>
						</li>
					
						<li>
							<figure>
								<div class="row">
									<div class="col-sm-12">
										<h1 class="pull-left no-margin">Triton Gaming Website</h1>
										<h3 class="pull-right no-margin">Dec 2015</h3>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-12">
										<a href="https://tritongaming.herokuapp.com/" target="_blank"><img src="img/TGHeader.png" alt="tg" width="800px" height="150px"/></a>
									</div>
								</div>
								<br>
								<br>
								<div class="row">
									<div class="col-sm-12">
										<p style="text-align: center"> Used as a portal for UCSD gamers to access our facebook pages and store. Only optimize for </p>
									</div>
								</div>

								<div class="row info-strip bg-primary hidden-sm">
									<p>
										<span class="pull-left">Technologies Used:</span>
										<span class="pull-right">Website Link:</span>
									</p>
									<p class="footer-links">
										<span class="pr fa fa-html5"><span id="tech">HTML</span></span>
										<span class="pr fa fa-css3"><span id="tech">CSS</span></span>
										<span class="pr fa fa-gear"><span id="tech">NODE</span></span>
										<span class="pr fa fa-coffee"><span id="tech">JS</span></span>
										<a href="https://tritongaming.herokuapp.com/" target="_blank"><span class="pull-right">tritongaming.herokuapp.com</span></a>
									</p>
								</div>

							</figure>
						</li>
						<li>
							<figure>
								<div class="row">
									<div class="col-sm-12">
										<h1 class="pull-left no-margin">SAPHIRE</h1>
										<h3 class="pull-right no-margin">Dec 2015</h3>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-12">
										<a href="http://weibellab-teaching.github.io/cse118-218-fa15_Team11/" target="_blank"><img src="img/saphirehead.png" alt="saphire" width="800px" height="150px"></a>
									</div>
								</div>
								<br>
								<br>
								<div class="row">
									<div class="col-sm-12">
										<p style="text-align: center"> Project using Google Glass Application to control smart home devices </p>
									</div>
								</div>

								<div class="row info-strip bg-primary hidden-sm">
									<p>
										<span class="pull-left">Technologies Used:</span>
										<span class="pull-right">Website Link:</span>
									</p>
									<p class="footer-links">
										<span class="pr fa fa-html5"><span id="tech">HTML</span></span>
										<span class="pr fa fa-css3"><span id="tech">CSS</span></span>
										<span class="pr fa fa-gear"><span id="tech">NODE</span></span>
										<span class="pr fa fa-coffee"><span id="tech">JS</span></span>
										<span class="pr fa fa-database"><span id="tech">MongoDB</span></span>
										<span class="pr fa fa-eye"><span id="tech">GoogleGlass</span></span>
										<a href="http://weibellab-teaching.github.io/cse118-218-fa15_Team11/" target="_blank"><span class="pull-right"> github.io - Team 11 </span></a>
									</p>
								</div>

							</figure>
						</li>
						<li>
							<figure>
								<div class="row">
									<div class="col-sm-12">
										<h1 class="pull-left no-margin">pricePad</h1>
										<h3 class="pull-right no-margin">May 2015</h3>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-12">
										<a href="http://pricepad.herokuapp.com" target="_blank"><img src="img/pricepadhead.png" alt="pricepad" width="800px" height="150px"></a>
									</div>
								</div>
								<br>
								<br>
								<div class="row">
									<div class="col-sm-12">
										<p style="text-align: center"> This app was created to look up the house pricing in a selected area. 
																	   You are then able to compare two locations and see which one you could profit from more. Or if you're a new home owner, 
																	   decide on a location to purchase your house. </p>
									</div>
								</div>

								<div class="row info-strip bg-primary hidden-sm">
									<p>
										<span class="pull-left">Technologies Used:</span>
										<span class="pull-right">Website Link:</span>
									</p>
									<p class="footer-links">
										<span class="pr fa fa-html5"><span id="tech">HTML</span></span>
										<span class="pr fa fa-css3"><span id="tech">CSS</span></span>
										<span class="pr fa fa-gear"><span id="tech">NODE</span></span>
										<span class="pr fa fa-coffee"><span id="tech">JS</span></span>
										<span class="pr fa fa-database"><span id="tech">Postgres</span></span>
										<a href="http://pricepad.herokuapp.com" target="_blank"><span class="pull-right">pricepad.herokuapp.com</span></a>
									</p>
								</div>

							</figure>
						</li>
						
						
					</ul>
					<nav>
						<span class="icon nav-prev"></span>
						<span class="icon nav-next"></span>
						<span class="icon nav-close"></span>
					</nav>
					<div class="info-keys icon">Navigate with arrow keys</div>
				</section><!-- Project Slideshow -->
			</div><!-- // grid-gallery -->
		</div>
		
		
		<!-- JS -->
		<script src="js/modernizr.custom.js"></script>
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/masonry.pkgd.min.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/cbpGridGallery.js"></script>
		<script>
			new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
		</script>
		
	</body>
		
